* {
  margin: 0;
  padding: 0;
}
body {
  background: #f5f5f5;
  color: #333;
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 62.5%;
}

.navbar {
  border-bottom: #008 0.2rem solid;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.navbar-brand {
  font-size: 2rem;
}

.opening {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(images/background1.jpg);
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  overflow-y: auto;
  overflow: hidden;
}

.opening h1 {
  padding-top: 40vh;
  color: white;
  font-size: 5rem;
  line-height: 7.5rem;
  text-align: center;
  margin: 0;
}

.opening h2 {
  padding: 1vh;
  color: white;
  font-size: 3rem;
  line-height: 4.5rem;
  text-align: center;
  margin: 0;
}

.btn-outline-light {
  font-size: 2rem;
  line-height: 3rem;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 5rem;
  line-height: 7.5rem;
}

p {
  font-size: 2rem !important;
  line-height: 2.4rem;
}

.skills {
  background: linear-gradient(#1cb5e0, #000046);
  color: white;
  padding-bottom: 6rem;
}

.svgImage {
  margin-left: 3rem;
  margin-bottom: 2rem;
}

/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(0.8rem);
    transform: translateY(0.8rem);
  }
  33.3% {
    -webkit-transform: translateY(-0.6rem);
    transform: translateY(-0.6rem);
  }
  49.95% {
    -webkit-transform: translateY(0.4rem);
    transform: translateY(0.4rem);
  }
  66.6% {
    -webkit-transform: translateY(-0.2rem);
    transform: translateY(-0.2rem);
  }
  83.25% {
    -webkit-transform: translateY(0.1rem);
    transform: translateY(0.1rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(0.8rem);
    transform: translateY(0.8rem);
  }
  33.3% {
    -webkit-transform: translateY(-0.6rem);
    transform: translateY(-0.6rem);
  }
  49.95% {
    -webkit-transform: translateY(0.4rem);
    transform: translateY(0.4rem);
  }
  66.6% {
    -webkit-transform: translateY(-0.2rem);
    transform: translateY(-0.2rem);
  }
  83.25% {
    -webkit-transform: translateY(0.1rem);
    transform: translateY(0.1rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover,
.hvr-wobble-vertical:focus,
.hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
